{% extends 'base.html' %}
{% block title %}All Foods - Fridge Buddy{% endblock %}
{% comment %} Catalog Food Index Template {% endcomment %}
{% load static %}

{% block head %}
  <link rel="icon" type="image/x-icon" href="{% static 'images/fridgebuddy.ico' %}" />
{% endblock %}
{% block content %}
  <h1>All Foods</h1>
  <div class="food-catalog">
    {% if foods %}
      <ul class="food-list">
        {% for food in foods %}
          <li class="food-item">
            <h2><a href="{% url 'food-detail' food.pk %}">{{ food.name }}</a></h2>
            <p>Category: {{ food.category }}</p>
            <p>Expiration Date: {{ food.expiration_date }}</p>
            <p>Quantity: {{ food.quantity }}</p>
            <p>Container: 
              {% if food.container %}
                <a href="{% url 'container-detail' food.container.pk %}">{{ food.container.name }}</a>
              {% else %}
                None
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No foods available in the catalog yet.</p>
    {% endif %}
  </div>
{% endblock %}